documentmatrix/target/*
documentmatrix/.settings/*
documentmatrix/.project
documentmatrix/.classpath
documentmatrix/bin/*
documentmatrix/WebContent/*
documentmatrix/META-INF/*
documentmatrix-analytics/target/
documentmatrix-analytics/.idea/
documentmatrix-sentinel/target/*
documentmatrix-sentinel/.project
documentmatrix-sentinel/.settings/*
documentmatrix-sentinel/.classpath
documentmatrix-sentinel/bin/*

